/* app css stylesheet */

html, body {
    width: 100%;
    height: 100%;
    
    -webkit-font-smoothing: antialiased;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* background-color: #2c3e50;    */
    /* background-color: #282828;   */
    /* background-color: #383838;    */
    /* background-color: #242424;     */
    background-color: rgb(32, 47, 60); 
    /* background-color: rgb(78, 163, 0); */
    /* background: linear-gradient(0deg, #262a2e, #2e3338);  */

    font-family: normal 11px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;  
    overflow: hidden;
}

/* webkit scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #333;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #999;
}

::-webkit-scrollbar-corner {
    background-color: #2D2D2D;
}

/* -------------------- */
/* Override vendor css. */
/* -------------------- */

a {
    cursor: pointer;
    color: #d7dddd;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.tooltip {
    font-size: 10px;
    padding: 3px;
}

.tooltip-inner {
    padding: 3px;
}

.tooltip .tooltip-arrow {
    margin-left: -10px;
}

.tooltip .tooltip-inner {
    width: 128px;
}

/* ----------- */
/* Custom css. */
/* ----------- */

.v-right-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
}

.h-bottom-slider {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 8px;
}

.panel .inner-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#left-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
}

#center-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
}

/* -------------------- */
/* Collaboration stuff. */
.collaboration-selection-wrapper {
    display: block;
    position: fixed;
}

.collaboration-selection-cursor {
    width: 2px;
    background-color: red;
    height: 12pt;
}

.collaboration-selection-tooltip {
    position: relative;
    top: -24pt;
    padding: 0 3px;
    background-color: red;
}

/* -------------------- */
/* Clear Fix took from HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

