/* app css stylesheet */

html, body {
    width: 100%;
    height: 100%;
    
    background-color: #1a1a1a;
    color: #fff;
    font: normal 13px 'Ubuntu', sans-serif;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.v-right-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 12px;
    
    background: #474747;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
}

.h-bottom-slider {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 12px;
    
    background: #474747;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
    overflow: hidden;
}

.panel .inner-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#left-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    
    font-size: 12px;
    color: #999;
    background: #2D2D2D;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
    overflow: hidden;
}

#center-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
    
    font-size: 12px;
    color: #999;
    background: #2D2D2D;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
    overflow: hidden;
}

/* Clear Fix took from HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

