/* app css stylesheet */

html, body {
    width: 100%;
    height: 100%;
    
    -webkit-font-smoothing: antialiased;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* background-color: #2c3e50;    */
    /* background-color: #282828;   */
    /* background-color: #383838;    */
    /* background-color: #242424;     */
    background-color: rgb(32, 47, 60);
    /* background: linear-gradient(0deg, #262a2e, #2e3338);  */

    /* font: normal 13px 'Ubuntu', sans-serif; */
    overflow: hidden;
}

/* webkit scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #333;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #999;
}

::-webkit-scrollbar-corner {
    background-color: #2D2D2D;
}

/* -------------------- */
/* Override vendor css. */
/* -------------------- */

a {
    cursor: pointer;
    color: #d7dddd;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.tooltip .tooltip-arrow {
    margin-left: -38px;
}

.tooltip .tooltip-inner {
    width: 128px;
}

/* ----------- */
/* Custom css. */
/* ----------- */

.v-right-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 12px;
}

.h-bottom-slider {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 12px;
    
    /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9); */
    overflow: hidden;
}

.panel .inner-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#left-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    
    font-size: 12px;
    overflow: hidden;
}

#left-panel .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 20px;
    
    /* box-shadow: 2px 0 10px 0 rgb(0, 0, 0); */
}

#center-panel {
    /* Component managed by the
     * layout service. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
    
    overflow: hidden;
}

/* Clear Fix took from HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

