/* editor css stylesheet */

#editor-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor { 
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    
    color: #fff;
}

#editor-tabs {
    position: absolute;
    top: 0;
    height: 35px;
    left: 0;
    right: 0;
    
    border-left: solid 40px rgba(39, 39, 39, 0.3);
    
    font-size: 12px;
    color: #999;
    background: rgb(55, 74, 88);;
    overflow: hidden;
}
