/* editor css stylesheet */

#editor-wrapper {
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    right: 10px;
}

#editor-tabs {
    position: absolute;
    top: 0;
    height: 35px;
    left: 0;
    right: 0;
        
    font-size: 12px;
    overflow: hidden;
}

#editor {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.7);
}
