
#workspaces-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgb(43, 38, 46);
}

#toolbar {
    height: 35px;
    width: 100%;
    padding: 0 15px;
    
    background: rgb(52, 71, 61);
}

#toolbar a {
    font-size: 32px;
    text-shadow: 1px 1px rgba(43, 43, 43, 0.7);
    color: rgb(79, 143, 116);
}

#workspaces {
    padding-top: 10px;
}

#workspaces li {
    list-style-type: none;
}

#workspaces ul {
    margin-left: 1.2em;
    padding-left: 0;
}

#workspaces .connected {
    color: yellow;
}
