[submodule "glark/app/lib/ace"]
	path = glark/app/lib/ace
	url = https://github.com/Bluefinch/ace-builds.git
[submodule "glark/test/e2e/glarkconnector"]
	path = glark/test/e2e/glarkconnector
	url = https://github.com/Bluefinch/glarkconnector.git
