<!--
*   Partial for filetree view
* -->

<script type="text/ng-template" id="directory_node_template">
    <div ng-switch on="node.collapsed">
        <div ng-switch-when="true">
            <a title="{{node.name}}" ng-click="toggleCollapsed(node)">+{{node.name}}</a>
        </div>
        <div ng-switch-when="false">
            <a title="{{node.name}}" ng-click="toggleCollapsed(node)">-{{node.name}}</a>
            <ul>
                <li ng-repeat="node in node.children" ng-include="'filetree_node_template'"></li>
            </ul>
        </div>
    </div>
</script>
    
<script type="text/ng-template" id="filetree_node_template">
    <div ng-switch on="node.isDirectory">
        <div ng-switch-when="true">
           <div ng-include="'directory_node_template'"></div>
        </div>
        <div ng-switch-when="false">
            <a title="{{node.name}}"  ng-click="editor.previewFile(node.file)" ng-dblclick="getActiveWorkspace().setActiveFile(node.file)">{{node.name}}</a>
        </div>
    </div>
</script>

<div ng-controller="FileTreeController">
    <ul id="filetree">
        <li ng-repeat="node in getActiveWorkspace().tree.rootNode.children" ng-include="'filetree_node_template'"></li>
    </ul>
</div>

