<!--
*   Partial for filetree view
* -->
    
<script type="text/ng-template" id="directory_node_template">
    <a title="{{dirname}}">{{dirname}}</a>
    <ul>
        <li ng-repeat="(dirname, dirEntry) in dirEntry.containedDirectories" ng-include="'directory_node_template'"></li>
    </ul>
</script>

<script type="text/ng-template" id="file_node_template">
    <a title="{{filename}}">{{filename}}</a>
    <ul>
        <li ng-repeat="(filename, fileEntry) in dirEntry.containedFiles" ng-include="'file_node_template'"></li>
    </ul>
</script>

<div ng-controller="FileTreeController">
    <ul id="filetree">
        <li ng-repeat="(dirname, dirEntry) in workspace.tree.containedDirectories" ng-include="'directory_node_template'"></li>
    </ul>
</div>

