<!--
*   Partial for editor-tabs view
* -->
  
<div id="editor-tabs" ng-controller="TabController">
    <ul id="tab-list" ng-cloak>
        <li class="tab-item active-{{isActiveFile(file)}} changed-{{file.changed}}" ng-repeat="file in getActiveWorkspace().openFiles" ng-click="setActiveFile(file)">
            <a class="tab-title" title="path">{{file.name | basename}}<span class="file-name">{{file.name | filename}}</span></a>
            <a class="tab-close" ng-click="closeFile(file)">x</a>
        </li>
    </ul>
    <!--
    <div id="tab-dropdown">
        <a id="tab-dropdown-button" class="icon-down-open"></a>
    </div>
    <ul id="tab-dropdown-list"></ul>
    -->
</div>
