<!--
*   Partial for workspaces view
* -->
    
<div id="workspaces-wrapper" ng-controller="WorkspacesController">

    <!--**********************
    *   Toolbar
    **************************-->

    <div id="toolbar">
        <div class="group btn-group">
            <button tooltip="{'title': 'Add Workspace', 'placement': 'bottom'}" class="btn btn-mini" ng-click="addLocalWorkspace()">
                <i class="icon-plus"></i>
                <i class="icon-folder-close"></i>
            </button>
            <button tooltip="{'title': 'Add Connector', 'placement': 'bottom'}" class="btn btn-mini" ng-click="addRemoteWorkspace()">
                <i class="icon-plus"></i>
                <i class="icon-bolt"></i>
            </button>
        </div>
    </div>
    
    <!--**********************
    *   Workspaces
    **************************-->
    
    <div id="workspaces" class="dropdown" ng-class="{open: openDropdown}">
        <ul ng-repeat="workspace in workspaces.workspaces">
            <li>
                <a title="{{workspace.name}}" ng-click="setActiveWorkspace(workspace)" right-click="$parent.openDropdown = !$parent.openDropdown">
                    {{workspace.name}}
                </a>
                <i class="icon-bolt" ng-class="{connected: workspace.connected}" ng-click="connectWorkspace(workspace)"></i>
                <div ng-include="'./partials/workspace.html'"></div>
            </li>
        </ul>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="entry in dropdownEntries">
                <a>{{entry}}</a>
           </li> 
       </ul>
    </div>
    
</div>

