<!--
*   Partial for filetree view
* -->

<script type="text/ng-template" id="directory_node_template">
    <div ng-switch on="entry.collapsed">
        <div ng-switch-when="true">
            <a title="{{entry.name}}" ng-click="toggleCollapsed(entry)">+{{entry.name}}</a>
        </div>
        <div ng-switch-when="false">
            <a title="{{entry.name}}" ng-click="toggleCollapsed(entry)">-{{entry.name}}</a>
            <ul>
                <li ng-repeat="entry in entry.children" ng-include="'filetree_node_template'"></li>
            </ul>
        </div>
    </div>
</script>
    
<script type="text/ng-template" id="filetree_node_template">
    <div ng-switch on="entry.isDirectory">
        <div ng-switch-when="true">
           <div ng-include="'directory_node_template'"></div>
        </div>
        <div ng-switch-when="false">
            <a title="{{entry.name}}"  ng-click="editor.previewFile(entry)" ng-dblclick="getActiveWorkspace().setActiveFile(entry)">{{entry.name}}</a>
        </div>
    </div>
</script>

<div ng-controller="WorkspaceController">
    <ul id="filetree">
        <li ng-repeat="entry in getActiveWorkspace().rootDirectory.children" ng-include="'filetree_node_template'"></li>
    </ul>
</div>

