<!--
*   Partial for workspaces view
* -->
    
<div id="workspace" ng-controller="WorkspacesController">
    <div>Add: 
        <a ng-click="addLocalWorkspace()">local</a>
         | 
        <a ng-click="addRemoteWorkspace()">remote</a>
    </div>
    <ul id="workspaces" ng-repeat="workspace in workspaces.workspaces">
        <li>
            <a title="{{workspace.name}}" ng-click="setActiveWorkspace(workspace)">{{workspace.name}}</a>
            <div ng-include="'./partials/workspace.html'"></div>
        </li>
        
    </ul>
</div>

