<!doctype html>
<html lang="en" ng-app="glark">
<head>
    <meta charset="utf-8">
    <title>glark.io</title>

    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/ace.css"/>
    <link rel="stylesheet" href="css/editor.css"/>
    <link rel="stylesheet" href="css/filetree.css"/>
    <link rel="stylesheet" href="css/tabs.css"/>
</head>
<body>

    <!--**********************
    *   Left Panel
    **************************-->

    <div id="left-panel" class="panel">
    
        <div id="left-panel-top" class="inner-panel">
            <div ng-include="'./partials/filetree.html'"></div>
            <div class="h-bottom-slider" layout-top-slider="left-panel-top"></div>
        </div>
        
        <div id="left-panel-bottom" class="inner-panel">
            <div ng-include="'./partials/filetree.html'"></div>
        </div>
        
        <div class="v-right-slider" layout-left-slider="left-panel"></div>
    </div>
    
    <!--**********************
    *   Center Panel
    **************************-->

    <div id="center-panel" class="panel">
        <div id="editor-wrapper">
            <div ng-include="'./partials/tabs.html'"></div>
            <div ng-controller="DragDropController" ng-model="dataTransfer" drop-zone="openDroppedFiles()">
                <div id="editor" ng-non-bindable></div>
            </div>
        </div>
    </div>
    
    <!--**********************
    *   Hidden div to initialize e2e tests
    **************************-->

    <div id="e2e-tests-initializer" ng-controller="TestsController" style="visibility: hidden">
        <a ng-click="initializeTests()"></a>
    </div>

    <!--**********************
    *   Scripts
    **************************-->
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        if(typeof jQuery == 'undefined') {
            document.write("<script src='lib/jquery.js' type='text/javascript'><\/script>");
        }
    </script>
    
    <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        if(typeof ace == 'undefined') {
            document.write("<script src='lib/ace/src-min-noconflict/ace.js' type='text/javascript'><\/script>");
        }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript">
        if(typeof angular == 'undefined') {
            document.write("<script src='lib/angular/angular.js' type='text/javascript'><\/script>");
        }
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script type="text/javascript">
        if(typeof io == 'undefined') {
            document.write("<script src='/socket.io/socket.io.js' type='text/javascript'><\/script>");
        }
    </script>

    <script src="js/app.js"></script>
    <!-- Services -->
    <script src="js/services/ace.js"></script>
    <script src="js/services/editor.js"></script>
    <script src="js/services/File.js"></script>
    <script src="js/services/filesystem.js"></script>
    <script src="js/services/FileTree.js"></script>
    <script src="js/services/layout.js"></script>
    <script src="js/services/Workspace.js"></script>
    <script src="js/services/workspaces.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/DragDropController.js"></script>
    <script src="js/controllers/FileTreeController.js"></script>
    <script src="js/controllers/TabController.js"></script>
    <script src="js/controllers/TestsController.js"></script>
    <!-- Filters -->
    <script src="js/filters/basename.js"></script>
    <script src="js/filters/filename.js"></script>
    <!-- Directives -->
    <script src="js/directives/dropZone.js"></script>
    <script src="js/directives/layoutLeftSlider.js"></script>
    <script src="js/directives/layoutTopSlider.js"></script>

</body>
</html>
